.page {
    display: flex;
    padding: 150px;
    flex: 1 0 auto;
    background-color: #EEEFF2;

    .text {
        margin-bottom: 30px;
    }

    .charts {
        width: 100%;
        max-width: 400px;
        margin: 0 auto 30px;
        background: white;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        padding: 15px;
    }
}